@font-face {
    font-family: "Lato";
    src: local("Lato"), url("../fonts/Lato.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Jockey";
    src: local("Jockey"), url("../fonts/Jockey.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"), url("../fonts/RobotoCondensed.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

